<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link href="'https://fonts.googleapis.com/css?family=Kaushan+Script|Roboto|Roboto+Slab'" rel="stylesheet">

	<link rel="stylesheet" href="style.css" type="text/css" />
	<title>Yummy Burger Menu</title>
	</head>
	<body>
		<img src="YummyBurger.jpg" width="400px"id="yummyburger">

	{{{ body }}}

	<footer class="burgerFooter">
		<div class="footer-copyright">
			<div class="container">
				
				<a class="grey-text text-lighten-4 right" href="https://github.com/diggsng60">Reference Work</a>
			</div>
		</div>
	</footer>
		
	</body>
</html>
